<footer class="footer mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div><img src="../../../assets/img/trustpilot-1.svg" class="w-50" alt="Stars"></div>
                <img src="../../../assets/img/stars-5-1.svg" class="w-50" alt="Logo">
                <p>TrustScore 4.7 / 732.000 recensioni</p>
            </div>
            <div class="col-md-3">
                <h5>Informazioni</h5>
                <ul>
                    <li><a href="#">Condizioni di vendita</a></li>
                    <li><a href="#">Informativa sulla privacy</a></li>
                    <li><a href="#">Programma Affiliazione</a></li>
                    <li><a href="#">Contatti</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Servizi</h5>
                <ul>
                    <li><a href="#"><i class="fas fa-gift"></i> Riscatta una Gift Card</a></li>
                    <li><a href="#"><i class="fas fa-newspaper"></i> Trova le ultime notizie sui videogiochi</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Seguici sui social</h5>
                <ul class="social">
                    <li><a href="#"><img src="../../../assets/img/instagram-2016-5.svg" class="social-icons"
                                alt="instagram"></a></li>
                    <li><a href="#"><img src="../../../assets/img/discord-6.svg" class="social-icons" alt="discord"></a>
                    </li>
                    <li><a href="#"><img src="../../../assets/img/x-2.svg" class="social-icons" alt="x"></a></li>
                    <li><a href="#"><img src="../../../assets/img/twitch-purple.svg" class="social-icons"
                                alt="twitch"></a></li>
                </ul>
                <a href="#" class="app-store"><img src="../../../assets/img/available-on-the-app-store.svg" class="social-icons2"
                        alt="App Store"></a>
                <a href="#" class="google-play"><img src="../../../assets/img/get-it-on-google-play.svg" class="social-icons2"
                        alt="Google Play"></a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">Copyright © 2024 Gava Gaming - All rights reserved</p>
            </div>
        </div>
    </div>
</footer>