<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%; border-radius: 15px;">
      <div class="card-body">
          <div class="text-center mb-4">
              <img src="../../../assets/img/logo_gafaGaming_white.png" alt="logo" class="w-50 mb-2" />
          </div>
          <div *ngIf="user; else loading">
              <h2 class="text-center mb-4">Profilo di {{ user.name }}</h2>
              <p class="text-center"><strong>Email: </strong>{{ user.email }}</p>
              <p class="text-center"><strong>Nome: </strong>{{ user.name }}</p>
          </div>
          <ng-template #loading>
              <p class="text-center">Caricamento...</p>
          </ng-template>
          <div *ngIf="errorMessage" class="error text-center text-danger mt-4">
              <p>{{ errorMessage }}</p>
          </div>
      </div>
  </div>
</div>
